In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.backends.backend_pdf import PdfPages
import numpy as np
import pandas as pd
import scipy.io as sio
import os
import shutil 
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

In [4]:
infile = "all_indtype.csv"
data = pd.read_csv(infile)
data

        indtype
0          1515
1          1711
2          4065
3          3538
4          1939
...         ...
140537     1321
140538     3131
140539     4063
140540     1499
140541     3030

[140542 rows x 1 columns]

In [72]:
data_to_count = data['indtype']
intdic = {}
for i in data_to_count: #count appe time
    cur_key = int(i/100)
    if cur_key in intdic:
        if i in intdic[cur_key]:
            intdic[cur_key][i] += 1
        else:
            intdic[cur_key][i] = 1
    else:
        intdic[cur_key] = {i:1}
intdic

{15: {1515: 75,
  1512: 923,
  1523: 213,
  1513: 459,
  1521: 159,
  1590: 92,
  1522: 182,
  1550: 269,
  1511: 122,
  1529: 91,
  1524: 56,
  1514: 74,
  1516: 39},
 17: {1711: 674,
  1723: 911,
  1790: 542,
  1741: 75,
  1773: 880,
  1782: 770,
  1744: 67,
  1742: 515,
  1781: 910,
  1724: 644,
  1775: 106,
  1722: 1257,
  1743: 190,
  1721: 1431,
  1712: 22,
  1719: 204,
  1774: 175,
  1745: 36,
  1789: 235,
  1725: 157,
  1726: 55,
  1749: 118,
  1729: 148,
  1779: 45,
  1783: 188,
  1771: 439,
  1763: 54,
  1772: 101,
  1762: 50,
  1769: 30,
  1713: 22,
  1714: 34,
  1761: 60},
 40: {4065: 227,
  4024: 754,
  4021: 491,
  4043: 160,
  4041: 1784,
  4073: 505,
  4061: 89,
  4080: 36,
  4099: 118,
  4027: 366,
  4074: 108,
  4063: 83,
  4069: 532,
  4091: 79,
  4022: 36,
  4029: 460,
  4092: 38,
  4013: 272,
  4023: 108,
  4071: 293,
  4049: 238,
  4066: 33,
  4012: 390,
  4045: 240,
  4072: 76,
  4079: 93,
  4011: 131,
  4046: 158,
  4062: 30,
  4064: 134},
 35: {3538: 204,
  3542: 567,
  3569: 339,
  3529: 304,
  3519: 49,
  3572: 276,
  3571: 1508,
  3564: 176,
  3512: 144,
  3521: 339,
  3541: 612,
  3531: 505,
  3565: 422,
  3526: 98,
  3562: 111,
  3561: 264,
  3535: 119,
  3533: 527,
  3511: 399,
  3537: 28,
  3590: 350,
  3580: 58,
  3536: 172,
  3515: 350,
  3534: 153,
  3525: 116,
  3532: 43,
  3523: 188,
  3566: 126,
  3513: 31,
  3568: 147,
  3567: 128,
  3539: 242,
  3563: 96,
  3514: 20},
 19: {1939: 66,
  1923: 333,
  1919: 92,
  1929: 287,
  1921: 1053,
  1952: 220,
  1924: 155,
  1911: 391,
  1951: 122,
  1932: 49,
  1925: 458,
  1931: 65,
  1912: 13},
 26: {2619: 753,
  2651: 779,
  2622: 449,
  2672: 461,
  2652: 846,
  2624: 414,
  2617: 691,
  2684: 191,
  2677: 183,
  2659: 402,
  2685: 210,
  2661: 100,
  2663: 105,
  2671: 938,
  2681: 266,
  2667: 51,
  2669: 112,
  2689: 174,
  2633: 344,
  2655: 320,
  2664: 121,
  2675: 132,
  2629: 175,
  2666: 68,
  2611: 302,
  2662: 153,
  2615: 78,
  2653: 130,
  2654: 246,
  2683: 41,
  2631: 206,
  2621: 535,
  2613: 128,
  2623: 26,
  2673: 191,
  2665: 62,
  2625: 28,
  2687: 39,
  2682: 20,
  2688: 45,
  2686: 31},
 32: {3240: 1567, 3260: 531, 3210: 553, 3220: 224},
 36: {3621: 202,
  3635: 465,
  3683: 41,
  3631: 195,
  3613: 129,
  3671: 232,
  3627: 130,
  3654: 238,
  3644: 19,
  3652: 163,
  3628: 61,
  3636: 27,
  3681: 46,
  3626: 66,
  3675: 51,
  3678: 169,
  3619: 108,
  3623: 19,
  3679: 210,
  3649: 213,
  3622: 189,
  3677: 202,
  3672: 37,
  3642: 342,
  3629: 156,
  3651: 52,
  3617: 79,
  3643: 6,
  3645: 27,
  3615: 32,
  3653: 69,
  3685: 5,
  3689: 62,
  3611: 295,
  3625: 178,
  3647: 243,
  3646: 47,
  3676: 17,
  3674: 157,
  3624: 46,
  3638: 113,
  3655: 28,
  3639: 33,
  3632: 255,
  3634: 103,
  3641: 107,
  3633: 28,
  3637: 11,
  3673: 1},
 13: {1342: 861,
  1390: 837,
  1321: 983,
  1314: 1370,
  1341: 530,
  1312: 1308,
  1344: 44,
  1317: 104,
  1313: 243,
  1360: 44,
  1315: 48,
  1343: 105,
  1352: 111,
  1351: 689,
  1334: 28,
  1322: 35,
  1311: 825,
  1332: 51,
  1353: 28,
  1319: 67,
  1354: 22,
  1359: 39,
  1331: 238},
 20: {2031: 416,
  2021: 683,
  2011: 197,
  2012: 110,
  2033: 306,
  2040: 241,
  2023: 98,
  2029: 307,
  2022: 166},
 37: {3717: 43,
  3727: 2510,
  3732: 888,
  3782: 877,
  3789: 15,
  3721: 62,
  3725: 239,
  3722: 76,
  3786: 24,
  3714: 133,
  3715: 16,
  3726: 82,
  3716: 22,
  3793: 50,
  3713: 11,
  3740: 393,
  3781: 56,
  3719: 22,
  3761: 52,
  3723: 16,
  3731: 220,
  3785: 152,
  3711: 5,
  3764: 67,
  3763: 42,
  3712: 6,
  3724: 27,
  3783: 5,
  3762: 81,
  3792: 3,
  3791: 2,
  3750: 4,
  3784: 1},
 31: {3169: 654,
  3133: 628,
  3110: 4279,
  3123: 387,
  3171: 170,
  3161: 81,
  3131: 1295,
  3181: 161,
  3121: 1088,
  3147: 477,
  3141: 196,
  3190: 553,
  3134: 217,
  3139: 133,
  3182: 226,
  3135: 156,
  3129: 27,
  3142: 123,
  3153: 168,
  3136: 141,
  3159: 58,
  3124: 63,
  3149: 136,
  3151: 878,
  3148: 50,
  3143: 58,
  3179: 108,
  3172: 35,
  3155: 617,
  3132: 128,
  3163: 30,
  3145: 26,
  3189: 15},
 22: {2230: 2217, 2210: 57, 2221: 2159, 2224: 157, 2223: 8, 2220: 2},
 33: {3311: 182,
  3383: 490,
  3381: 515,
  3312: 282,
  3321: 228,
  3360: 103,
  3316: 22,
  3314: 15},
 18: {1810: 6626, 1830: 573, 1820: 151, 1890: 358},
 29: {2930: 350,
  2940: 256,
  2910: 190,
  2990: 284,
  2950: 79,
  2981: 30,
  2920: 68,
  2960: 242,
  2970: 115,
  2989: 7},
 34: {3483: 589,
  3420: 302,
  3499: 427,
  3482: 440,
  3469: 187,
  3487: 147,
  3465: 586,
  3431: 258,
  3434: 433,
  3441: 44,
  3410: 877,
  3435: 322,
  3486: 133,
  3463: 375,
  3470: 578,
  3450: 791,
  3442: 676,
  3491: 110,
  3489: 391,
  3439: 65,
  3495: 136,
  3461: 201,
  3485: 248,
  3481: 122,
  3484: 103,
  3488: 44},
 28: {2829: 149,
  2811: 27,
  2812: 57,
  2824: 8,
  2822: 321,
  2859: 53,
  2854: 55,
  2821: 66,
  2823: 21,
  2819: 36,
  2851: 10,
  2852: 5,
  2853: 5},
 30: {3050: 503,
  3030: 944,
  3010: 666,
  3070: 555,
  3020: 872,
  3090: 1403,
  3040: 719,
  3080: 438,
  3060: 324},
 43: {4351: 31,
  4316: 324,
  4318: 212,
  4313: 33,
  4312: 148,
  4392: 461,
  4317: 322,
  4319: 814,
  4311: 395,
  4353: 214,
  4391: 180,
  4357: 135,
  4314: 116,
  4315: 417,
  4355: 143},
 14: {1415: 124,
  1411: 195,
  1497: 56,
  1413: 215,
  1499: 318,
  1414: 253,
  1453: 99,
  1459: 52,
  1412: 344,
  1491: 119,
  1419: 52,
  1442: 80,
  1420: 379,
  1452: 52,
  1451: 351,
  1449: 42,
  1492: 363,
  1498: 148,
  1434: 117,
  1441: 21,
  1445: 32,
  1444: 31,
  1435: 196,
  1495: 22,
  1443: 29,
  1439: 46,
  1433: 24,
  1431: 35,
  1454: 19,
  1432: 1,
  1493: 17},
 24: {2490: 51,
  2413: 99,
  2433: 73,
  2411: 181,
  2450: 20,
  2440: 860,
  2415: 162,
  2429: 130,
  2423: 105,
  2419: 55,
  2421: 86,
  2431: 17,
  2417: 31,
  2435: 13,
  2439: 18},
 23: {2319: 728, 2312: 1121, 2311: 1144, 2320: 51},
 21: {2110: 1001, 2190: 173, 2130: 297, 2120: 19, 2140: 12},
 25: {2530: 336, 2520: 251, 2570: 320, 2510: 14},
 41: {4160: 1666,
  4143: 293,
  4119: 333,
  4155: 149,
  4130: 87,
  4151: 94,
  4153: 252,
  4112: 138,
  4141: 116,
  4173: 54,
  4171: 202,
  4190: 441,
  4111: 129,
  4172: 240,
  4113: 161,
  4189: 7,
  4181: 4,
  4183: 1},
 27: {2710: 652, 2720: 848, 2750: 265, 2730: 1132, 2740: 212},
 16: {1620: 135, 1610: 80, 1690: 25},
 42: {4212: 175,
  4229: 65,
  4215: 35,
  4211: 258,
  4260: 230,
  4228: 5,
  4242: 56,
  4254: 82,
  4216: 40,
  4219: 69,
  4230: 75,
  4217: 24,
  4225: 26,
  4257: 14,
  4259: 34,
  4290: 68,
  4243: 85,
  4213: 147,
  4223: 22,
  4214: 36,
  4252: 6,
  4226: 5,
  4221: 27,
  4218: 57,
  4256: 32,
  4227: 48,
  4280: 10,
  4241: 20,
  4251: 4,
  4222: 37,
  4224: 2}}

In [71]:
del_list = []
count_dic = {}
clusternum = 2
for i in intdic:
    summ = 0
    for j in intdic[i]:
        summ += intdic[i][j]
    if summ < clusternumber:
        del_list.append(i)
    else:
        count_dic[i] = summ

print(count_dic)
print(del_list)
##drop small group
for i in del_list:
    del intdic[i]
order_dickey = list(intdic.keys())
order_dickey.sort()
order_dickey

{15: 2754, 17: 11145, 40: 8062, 35: 9211, 19: 3304, 26: 10546, 32: 2875, 36: 5704, 13: 8610, 20: 2524, 37: 6202, 31: 13362, 22: 4600, 18: 7708, 34: 8585, 30: 6424, 43: 3945, 14: 3832, 23: 3044, 41: 4367, 27: 3109}
[]

[13,
 14,
 15,
 17,
 18,
 19,
 20,
 22,
 23,
 26,
 27,
 30,
 31,
 32,
 34,
 35,
 36,
 37,
 40,
 41,
 43]

In [49]:
data = pd.read_csv("2001_big.csv")
order_dickey = list(intdic.keys())
order_dickey.sort()
#for i in order_dickey:
i = order_dickey[0]
avail_keygroup = list(intdic[i].keys())
avail_keygroup.sort()
data_to_processed = data[data['indtype'] == avail_keygroup[0]]
for j in avail_keygroup[1:]:
    df2 = data[data['indtype'] == j]
    data_to_processed = data_to_processed.append(df2)

In [50]:
data_to_processed

,crc,indtype,giovsaled,voexpg,fa,cwp,perseng,year,rnd,rndinten,expinten
3710,104005746,1311,24300,0,210,270,40,2001,0,0.000000,0.000000
3714,10400812X,1311,3090,0,4361,183,21,2001,0,0.000000,0.000000
5001,105220528,1311,51247,0,1740,301,53,2001,0,0.000000,0.000000
5004,105220624,1311,2048,0,710,11,48,2001,0,0.000000,0.000000
5009,10522131X,1311,40300,0,442,320,35,2001,0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
139656,X21227183,1390,9050,0,560,410,58,2001,0,0.000000,0.000000
139929,YA3676739,1390,8000,0,580,106,11,2001,0,0.000000,0.000000
140297,hb282009x,1390,39200,39200,6576,408,240,2001,3,0.000077,1.000000
140505,x12947222,1390,8847,0,2029,210,120,2001,0,0.000000,0.000000
140509,x13513323,1390,11241,9936,1650,190,38,2001,0,0.000000,0.883907

In [66]:
data_feature = [] ##[group, giovsaled, perseng, voexpg, expinten, fa, ave_cwp]
data_to_processed['ave_cwp'] = data_to_processed['cwp'] / data_to_processed['perseng']
data_feature.append(['13xx',data_to_processed['giovsaled'].mean(), data_to_processed['perseng'].mean(), data_to_processed['voexpg'].mean(),data_to_processed['expinten'].mean(),data_to_processed['fa'].mean(),data_to_processed['ave_cwp'].mean()])

In [67]:
data_feature

[['13xx',
  42984.1831591173,
  174.89430894308944,
  4991.798606271777,
  0.10075010401372722,
  13588.771196283391,
  7.400332273420585]]

In [69]:
dd = pd.DataFrame(data_feature, columns = ['group', 'ave_giovsaled', 'ave_perseng', 'ave_voexpg', 'ave_expinten', 'ave_fa', 'ave_cwp'])
dd

,group,ave_giovsaled,ave_perseng,ave_voexpg,ave_expinten,ave_fa,ave_cwp
0,13xx,42984.183159,174.894309,4991.798606,0.10075,13588.771196,7.400332

In [38]:
df2

,crc,indtype,giovsaled,voexpg,fa,cwp,perseng,year,rnd,rndinten,expinten
299,101130410,1312,116447,0,105294,4886,345,2001,2,0.000017,0.0
356,101164960,1312,10655,0,7052,1285,71,2001,0,0.000000,0.0
525,101507273,1312,63462,0,48598,3250,270,2001,0,0.000000,0.0
534,101516655,1312,45991,0,25948,3561,193,2001,0,0.000000,0.0
948,101897750,1312,71099,0,47187,3411,219,2001,0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
140532,yg4339744,1312,11580,0,1280,190,38,2001,0,0.000000,0.0
140533,yg4339808,1312,10480,0,920,135,30,2001,0,0.000000,0.0
140534,yg4339816,1312,9783,0,1020,125,28,2001,0,0.000000,0.0
140535,yg4341254,1312,29018,0,2014,196,49,2001,0,0.000000,0.0
140536,yg4342249,1312,12740,0,1120,152,38,2001,0,0.000000,0.0

In [39]:
df2.append(df1)

,crc,indtype,giovsaled,voexpg,fa,cwp,perseng,year,rnd,rndinten,expinten
299,101130410,1312,116447,0,105294,4886,345,2001,2,0.000017,0.0
356,101164960,1312,10655,0,7052,1285,71,2001,0,0.000000,0.0
525,101507273,1312,63462,0,48598,3250,270,2001,0,0.000000,0.0
534,101516655,1312,45991,0,25948,3561,193,2001,0,0.000000,0.0
948,101897750,1312,71099,0,47187,3411,219,2001,0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
139761,X29454305,1311,11376,0,2728,136,262,2001,0,0.000000,0.0
140141,gx0204421,1311,12414,0,14830,710,66,2001,0,0.000000,0.0
140396,hu3932623,1311,30100,0,7200,220,35,2001,0,0.000000,0.0
140402,k26214723,1311,15322,0,1347,511,148,2001,0,0.000000,0.0
140403,k26214758,1311,16209,0,1308,137,242,2001,0,0.000000,0.0

In [ ]:
li = [1,2,3,1,2,4,5,6,3]
data = pd.DataFrame({'type':li, 'oo':li})
#print(data)
df2 =  pd.DataFrame([[5, 6], [7, 8]],columns = ['type', 'oo'])
data.append(df2,ignore_index=True)

print(data)

In [ ]:
with PdfPages('multipage_pdf.pdf') as pdf:
    #plt.figure(1)
    plt.plot(range(7), [3, 1, 4, 1, 5, 9, 2], 'r-o')
    plt.title('id = 1')
    pdf.savefig()  # saves the current figure into a pdf page
    plt.close()

    #plt.figure(2)
    plt.plot(range(7), [4, 2, 3, 4, 5, 6, 1], 'r-o')
    plt.title('id = 2')
    pdf.savefig()  # saves the current figure into a pdf page
    plt.close()